[Desktop Entry]
Categories=Qt;AudioVideo;Player;Video;
Exec=rosa-media-player -add-to-playlist %U
Icon=rosamp
MimeType=audio/ac3;audio/mp4;audio/mpeg;audio/vnd.rn-realaudio;audio/vorbis;audio/x-adpcm;audio/x-matroska;audio/x-mp2;audio/x-mp3;audio/x-ms-wma;audio/x-vorbis;audio/x-wav;audio/mpegurl;audio/x-mpegurl;audio/x-pn-realaudio;audio/x-scpls;video/avi;video/mp4;video/flv;video/mpeg;video/quicktime;video/vnd.rn-realvideo;video/x-matroska;video/x-ms-asf;video/x-msvideo;video/x-ms-wmv;video/x-ogm;video/x-theora;audio/midi;audio/x-midi;audio/mid;
Name=Enqueue in ROSA Media Player
Name[cs]=Přidat do fronty ROSA Media Playeru
Name[es]=Añadir a la lista de reproducción de ROSA Media Player
Name[hu]=Felvétel az ROSA Media Player lejátszólistára
Name[ja]=ROSA Media Player でエンキュー
Name[it]=In coda in ROSA Media Player
Name[nl]=In wachtrij van ROSA Media Player
Name[pt]=Em fila no ROSA Media Player
Name[ru]=Добавить в очередь ROSA Media Player
Name[uk]=Додати до черги ROSA Media Player
Name[de]=In ROSA Media Player einreihen
Comment=Add file(s) to the ROSA Media Player playlist
Comment[cs]=Přidá soubor(y) do přehrávací fronty ROSA Media Playeru
Comment[es]=Añade ficheros a la lista de reproducción de ROSA Media Player
Comment[hu]=Fájl(ok) hozzáadása az ROSA Media Player lejátszólistájához
Comment[ja]=ファイルを ROSA Media Player のプレイリストに追加します
Comment[it]=Aggiungi alla lista di riproduzione di ROSA Media Player
Comment[nl]=Bestanden toevoegen aan de afspeellijst van ROSA Media Player
Comment[pt]=Adicionar ficheiro(s) à lista de reprodução do ROSA Media Player
Comment[ru]=Добавить файл(ы) в конец списка воспроизведения ROSA Media Player
Comment[uk]=Додати файл(и) до переліку програвання ROSA Media Player
Comment[de]=Datei(en) zur ROSA Media Player Wiedergabeliste hinzufügen
Type=Application
X-KDE-StartupNotify=false
NoDisplay=true
